<style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

    h1 {
        font-family: "Quicksand", sans-serif;
        color: lightblue;
    }

    .home {
        margin:  0 100px 0 100px;
    }

    .top {
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 800% !important;
    }

</style>
<center class="home">
    <h1 class="top">SwiftML</h1>
    <h5>Create & Deploy ML models in One Click.</h5>
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum et nihil quibusdam doloremque, repellendus ipsam atque illo iste vel ducimus voluptatibus! Accusamus aperiam doloremque veniam ipsa maxime veritatis, praesentium numquam, illo tenetur temporibus, sit assumenda voluptatum in explicabo error cumque similique asperiores delectus ex. Qui ipsa laudantium ut optio labore!</p>
</center>